@{
ViewData["Title"] = "Index";
}
@model HomeIndexViewModel





<div class="container-fluid" style="padding-left: 0px !important; padding-right: 0px !important;">
    <section class="deals-header"
        style="background-image: url('https://http2.mlstatic.com/resources/exhibitors/MLB-black-friday/10695ec0-05b2-11ea-9f5e-032dc8d66dc0-landing_desktop.jpg')">
    </section>
    <div class="row">

        <div class="col-3" style="background-color: transparent; color: black; height: auto; margin-top: 50px">

            <div class="accordion" id="accordionExample">

                @foreach (var item in Model.Categories)
                {
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne"
                            style="font-family: 'Libre Baskerville', serif; font-weight: 800; color: rgba(47,47,47, 0.8)">
                            @item.Name
                        </button>
                    </h2>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">

                        <div>
                            <ul class="nav flex-column">
                                @foreach (var subCat in Model.SubCategories)
                                {
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/index"
                                        style="font-family: 'Libre Baskerville', serif; color: rgb(47,47,47)">
                                        @subCat.Name</a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                }

            </div>

        </div>

        <div class="col-md-9">
            <div class="container">
                <div class="row">

                    @foreach (var product in Model.Products)
                    {
                    <div class="card mb-4 bg-white rounded div-product" style="margin-left: 30px; margin-top: 50px">
                        <img class="img-fluid" src="@product.Image" style="width: 233px; height: 194px" />
                        <i class="far fa-heart heart-icon-card"></i>
                        <div class="card-body card-product-shadow">
                            <a style="text-decoration: none" href="/product/productdetails/@product.ProductId">
                                <p class="card-title product-card-title" style="color: rgba(47,47,47, 0.8) !important">
                                    @product.Name</p>
                                <p class="card-text product-card-text">R$@product.SellingPrice</p>
                                <p class="card-subtitle product-card-subtitle">@product.ShortDescription</p>

                            </a>
                            <hr style="background-color: black">

                            <div class="row icon-card">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>