@{
ViewData["Title"] = "Detalhes do Produto";

}

@ViewBag.message

@model HomeIndexViewModel

<div class="container" style="display: flex; justify-content: space-around">

    <div class="col-lg-7" style="background-color: transparent; margin-top: 50px">

        <div class="row gutters-1 justify-content-between">

            <div class="col-lg-10 order-lg-2">
                @foreach (var product in Model.Products)
                {
                <img src="@product.LargeImage" class="display-img img-fluid" style="max-height : 600px;" />

                }
            </div>

            <div class="col-lg-2 text-center text-lg-left order-lg-1" style="background-color: transparent">

                <div class="product--body">
                    <div class="product--image">

                        @foreach (var product in Model.Products)
                        {
                        <div class="icon-images">

                            <img class ="product-icon-details" src="@product.Image" />

                            <img class ="product-icon-details"  src="@product.SmallImage" />

                            <img class ="product-icon-details"  src="@product.MediumImage"/>

                            <img class ="product-icon-details"  src="@product.LargeImage"/>
                        </div>
                        }

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class=" col-6" style="background-color: transparent; margin: 0px 30px; padding-top: 50px;">
        @foreach (var product in Model.Products)
        {
        <p style="color: #484848; font-weight: 800; line-height: 1.125em !important; font-size: 1.75rem; font-family: 'Libre Baskerville'">@product.Name</p>
        <p style="font-weight: 400; font-size: 1.05rem; font-family: 'Libre Baskerville', serif">@product.ShortDescription</p>
        <p style="font-family: 'Libre Baskerville', serif">Vendido e entregue por: </p>
        <p style="font-weight: 700; font-size: 2rem; font-family: 'Libre Baskerville', serif">R$@product.SellingPrice.ToString("N2")</p>
        <p style="font-family: 'Libre Baskerville', serif; font-size: 1.00em"><strong> Descrição do Produto: </strong> @product.Details</p>

        <a href="http://localhost:4200/" type="button" class="btn-square" style="text-decoration:none; font-family: 'Libre Baskerville', serif">Comprar</a>
        }
    </div>
</div>